<p>Bonjour {{ utilisateur.pseudo }},</p>

<p>Merci de votre inscription sur league-of-bravery.com, voici vos informations de connexion :</p>

<p>Pseudo : {{ utilisateur.pseudo }}<br />
Mot de passe : {{ mdp }}</p>

<p>Pour finaliser votre inscription merci de cliquer sur le lien suivant :</p>

<p><a href="{{ adresse }}">Confirmer mon inscription</a></p>
<p>Si le lien ne fonctionne pas, copiez le lien suivant dans le champ d'adresse de votre navigateur : {{ adresse }}</p>

<p>Ceci est un e-mail automatisé, merci de ne pas y répondre.</p>

<p>Cordialement,<br />League of bravery.</p>