<p>Bonjour {{ message.receveur.pseudo }},</p>

<p>Vous avez reçu un nouveau message privé de "{{ message.auteur.pseudo }}" sur votre compte league-of-bravery.com dont le sujet est :</p>

<p>{{ message.titre }}</p>

<p>Vous pouvez consulter votre nouveau message en cliquant sur le lien suivant :</p>

<p><a href="{{ adresse }}">{{ adresse }}</a></p>

<p>Vous avez demandé à être averti lors de cet évènement, sachez que vous
pouvez toujours choisir de ne pas être averti lors de la réception de
nouveaux messages en modifiant le réglage approprié dans les préférences de votre profil.</p>

<p>Cordialement,<br /> league-of-bravery.com</p>